

/* for big tablets - 1200px (widths smaller than 1140px row size) */
@media only screen and (max-width: 1200px)  {

    .hero-text-box {
        width: 100%;
        padding 0 2%;
    }
    
    .row {padding: 0 2%}


    
    header {
        background-size: 400%;
        background-position: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
        }
    
    
}
*/

/* for  small tablets - big tablet(768-1023px)*/
@media only screen and (max-width: 1023px) {

    body {font-size: 18px; }
    section {padding: 60px, 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
  
    .steps-box { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps:last-child { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { width: 20px;}
    .city-feature { 
        font-size: 70%;
        margin-right: 5px
        }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price {
        font-size: 250%;
    }
    
    .contact-form {
        width: 80%;
    }
}
    
    

/* for medium size phones - small tablets (481-767px)*/
@media only screen and (max-width: 767px){
    
    
    body { font-size: 16px; }
    section { padding: 30px, 0; }
    
    .row,
    .hero-text-box { padding: 0, 4%; }
    
    .col {
        width: 100%;
        margin: 0 0 4% 0
    }
    
    /*.main-nav {display: none; }*/
    .mobile-nav-icon {
        display: inline-block;
    }
    
    .main-nav {
        float: left;
        margin-top: 5px;
        margin-left: 20px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 5px 0;
        font-size: 70%;
    }
    
    .sticky .main-nav {
    margin-top: 10px;
    }

    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited {padding: 10px 0; }
    .sticky .mobile-nav-icon {margin-top: 10px}
    .sticky .mobile-nav-icon {color: #555}

    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    
    .steps-box:last-child { margin-top: 20px; }
    .works-steps:last-child { margin-bottom: 20px; }
    .app-screen { 
        width: 40%;
        text-align: center;
        align-content: center;
        align-items: center;
        margin-right: 30%;
    }
    
    .steps-box:last-child { 
        text-align: center; 
        align-content: center;
        align-items: center;
    }
    
    .app-screen-col {
        text-align: center; 
        align-content: center;
        align-items: center;
    }
    
    
    .works-step div {
        height: 40px;
        width: 40px;
        padding: 4px;
        margin-right: 15px;
        font-size: 120%;
    }
    
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
    
}
    

/* for small phones (0-480px) */
@media only screen and (max-width: 480px){

    section { padding: 25px, 0; }
    .contact-form {width: 100%; }

    
}
    
 
    
    
    